<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/cf7cf444-c1cc-4ae2-a550-c5d60c4a061b/resourceGroups/AppService-RG/providers/Microsoft.Web/sites/TimeCalculator</ResourceId>
    <ResourceGroup>AppService-RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://timecalculator-deebf4apfbhvenca.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8753ca51-270c-4544-9b42-c78d8018247e</ProjectGuid>
    <PublishUrl>https://timecalculator-deebf4apfbhvenca.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$TimeCalculator</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>